body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

header {
    background-color: #952d3d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
nav {
    background-color: #952d3d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
  }
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}





.content {
    padding: 20px;
}

footer {
    background-color: #952d3d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/*forms*/

.form-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}
.activity-form {
    padding: 20px;
    border-radius: 8px;
}

.activity-form h1 {
    text-align: center;
    color: #333;
}

.activity-form label {
    display: block;
    margin-top: 10px;
}

.activity-form select,
.activity-form input,
.activity-form textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.activity-form input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.activity-form input[type="submit"]:hover {
    background-color: #45a049;
}

/*tabs*/
.link-row{
    background-color: #39ab57;
    font-family: Arial;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tablink {
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
  }
  @media (max-width: 768px) {
    .tablink {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
.confes{
        display: flex;
        justify-content: center;
        color: #000000;
}
  .link-row a {
    text-decoration: none;
    padding: 10px;
    width: 400px;
    border-radius: 5%;
  }
  .tablink-active {
  border-bottom: thick solid;
  }
  
  .content {
    display: none;
  }