.form {
    max-width: 400px;
    margin: 0 auto; /* Esto centrará el formulario horizontalmente */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    
}
.input-span {
    display: block;
    margin-bottom: 15px;
}
.label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Estilos para pantallas pequeñas (menos de 768px de ancho) */
@media screen and (max-width: 768px) {
    .form {
        max-width: 100%;
    }
}

.card {
    max-width: 400px;
    margin: 0 auto; /* Esto centrará el card horizontalmente */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}